@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


#alert{
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 1334px;
    height: 120px;
    margin-top: 50px;
    border: 1px solid black;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
#date{
    font-size: 20px;
}
#alert i {
    border-radius: 50%;
    align-items: flex-end;
    background-color: #006633;
    width: 56px;
    height: 56px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

#alert #img-container img{
    width: 120px;
    height: 115px;
    transform: translateY(3px);
}

#alert #text{
    font-size: 28px;
}

#alert .icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#alert i.fa{
    display: block;
    cursor: pointer;
    margin-left: 20px;
}
#alert .icon-container i.fa:nth-child(1):hover{
    background-color: darkturquoise;
}
#alert .icon-container i.fa:nth-child(2):hover{
    background-color: darkcyan;
}
#alert .icon-container i.fa:nth-child(3):hover{
    background-color: lightgreen;
}
#alert .icon-container i.fa:nth-child(4):hover{
    background-color: lightseagreen;
}
#alert .icon-container{
    display: flex;
    
}