* {
    box-sizing: border-box;
}

#icons{
    display: flex;
    background-color: #363636;
    width: 402px;
    height: 60px;
    color: white;
    font-size: 27px;
    margin: 6rem 3rem;
}
#icons i{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 15.5px;
    padding-left: 14px;
    margin-left: 20px;
}
#icons i.fa-infinity{
    background-color: #55AE3A;
    transform: translateX(-50px);

}

#icons img{
    width: 45px;
    height: 45px;
    padding-top: 15.5px;
    padding-left: 14px;
}
#icons #auth{
    background-color: #363636;
    border-radius: 50%;
    transform: translateX(30px);
    width: 60px;
    height: 60px;
    margin: 0;
}